{% extends 'base.html.twig' %}

{% block title %}Notes{% endblock %}

{% block body %}
<a href="{{path('app_notes')}}" class="btn btn-secondary">Retour aux Notes</a>
<div class="card mb-3">
    <div class="card-body">
        <h5 class="card-title">{{ note.title }}</h5>
        <p class="card-text">{{ note.content }}</p>
        <p class="card-text">{{ note.createdAt|date('d/m/Y H:i') }}</p>
        <p class="card-text">{{ note.updatedAt|date('d/m/Y H:i') }}</p>
        <div class="d-flex gap-1">
            <form action="{{ path('app_notes_delete', {'id': note.id}) }}" method="post">
                <input type="hidden" name="_token" value="{{ csrf_token('note-' ~ note.id) }}">
                <button type="submit" class="btn btn-danger">Supprimer</button>
            </form>
            <a class="btn btn-outline-primary" href="{{ path('app_notes_edit', {'id': note.id})}}">Modifier</a>
        </div>
    </div>
</div>
{% endblock %}